.navbar {
  background-color: rgb(2, 2, 43);
  padding: 10px;
}
.navbar nav {
  text-align: right;
  margin-right: 20px;
}
.navbar nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
}
.navbar nav a:hover {
  background-color: rgba(80, 80, 160, 0.699);
}
.heading {
  text-align: center;
  background-color: rgba(95, 95, 184, 0.562);
  padding: 10px;
}
.member {
  margin-left: 50px;
  width: 30%;
  background-color: rgba(0, 132, 255, 0.596);
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}
