.cart-container {
  background-color: lightgray;

  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  border-left: 2px solid lightblue;
  text-align: center;
}
.name {
  padding: 10px;
  color: rgb(27, 0, 145);
  /* background-color: cornsilk; */
}
.name-title {
  background-color: rgba(95, 123, 202, 0.747);
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
}
